//remove bin and obj folders
**/bin/
**/obj/
main.env
**/*/bin/*.*
**/*/obj/*.*
src/PrintifyGenerator/obj/PrintifyGenerator.csproj.nuget.dgspec.json
src/PrintifyGenerator/obj/project.assets.json
src/PrintifyGenerator/obj/project.nuget.cache
src/PrintifyGenerator/obj/Debug/net10.0/apphost
src/PrintifyGenerator/obj/Debug/net10.0/PrintifyGenerator.AssemblyInfo.cs
src/PrintifyGenerator/obj/Debug/net10.0/PrintifyGenerator.AssemblyInfoInputs.cache
src/PrintifyGenerator/obj/Debug/net10.0/PrintifyGenerator.csproj.AssemblyReference.cache
src/PrintifyGenerator.Library/obj/PrintifyGenerator.Library.csproj.nuget.dgspec.json
src/PrintifyGenerator.Library/obj/project.assets.json
src/PrintifyGenerator.Library/obj/project.nuget.cache
src/PrintifyGenerator.Library/obj/Debug/net10.0/PrintifyGenerator.Library.AssemblyInfo.cs
src/PrintifyGenerator.Library/obj/Debug/net10.0/PrintifyGenerator.Library.AssemblyInfoInputs.cache
src/PrintifyGenerator.Maker/obj/project.assets.json
src/PrintifyGenerator.Maker/obj/project.nuget.cache
